In [73]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
st = pd.read_csv(r"C:\Users\U_M10Q3\Documents\StudentsPerformance.csv")

In [23]:
st_with_names = st.iloc[0:5,0:5]

In [26]:
st_with_names.index = ["Alpha","Beta","Gamma","Yota","Kappa"]

In [27]:
st_with_names

,gender,race/ethnicity,parental level of education,lunch,test preparation course
Alpha,female,group B,bachelor's degree,standard,none
Beta,female,group C,some college,standard,completed
Gamma,female,group B,master's degree,standard,none
Yota,male,group A,associate's degree,free/reduced,none
Kappa,male,group C,some college,standard,none

In [28]:
tit = pd.read_csv(r"C:\Users\U_M10Q3\Documents\titanic.csv")

In [29]:
tit.shape

(891, 12)

In [132]:
tit["Name"].filter(like='Jac',axis=0)

Series([], Name: Name, dtype: object)

In [133]:
df = pd.read_csv(r"C:\Users\U_M10Q3\Documents\column_hell.csv")

In [140]:
#среднее значение скоров в зависимости от пола студентов
st.groupby(["gender"]).agg("min").filter(like="math score")

        math score
gender
female           0
male            27

In [141]:
#число ног у героев игры
dh = pd.read_csv(r"C:\Users\U_M10Q3\Documents\dota_hero_stats.csv")

In [177]:
dh.groupby(["attack_type","primary_attr"]).describe()

                         Unnamed: 0                                           \
                              count       mean        std   min    25%   50%
attack_type primary_attr
Melee       agi                19.0  61.315789  38.233279   0.0  34.50  65.0
            int                 2.0  67.500000  20.506097  53.0  60.25  67.5
            str                35.0  62.657143  34.265351   1.0  31.50  69.0
Ranged      agi                18.0  46.111111  32.737618   5.0  15.25  44.5
            int                40.0  55.225000  32.472069   2.0  28.75  50.5
            str                 3.0  84.666667  25.774665  57.0  73.00  89.0

                                          id            ...                  \
                            75%    max count       mean ...      75%    max
attack_type primary_attr                                ...
Melee       agi           89.00  114.0  19.0  63.315789 ...    91.00  120.0
            int           74.75   82.0   2.0  69.500000 ...    76.75   84.0
            str           95.50  116.0  35.0  64.771429 ...    97.50  129.0
Ranged      agi           67.75  111.0  18.0  47.777778 ...    69.75  113.0
            int           78.75  115.0  40.0  57.275000 ...    80.75  121.0
            str           98.50  108.0   3.0  86.666667 ...   100.50  110.0

                          legs
                         count      mean       std  min  25%  50%  75%  max
attack_type primary_attr
Melee       agi           19.0  2.315789  1.796683  0.0  2.0  2.0  2.0  8.0
            int            2.0  2.000000  0.000000  2.0  2.0  2.0  2.0  2.0
            str           35.0  2.171429  0.890661  0.0  2.0  2.0  2.0  6.0
Ranged      agi           18.0  1.444444  1.149026  0.0  0.0  2.0  2.0  4.0
            int           40.0  2.250000  0.926809  0.0  2.0  2.0  2.0  6.0
            str            3.0  1.333333  1.154701  0.0  1.0  2.0  2.0  2.0

[6 rows x 24 columns]

In [148]:
#бухгалтерская задача
buh = pd.read_csv(r"C:\Users\U_M10Q3\Documents\accountancy.csv")

In [172]:
buh.groupby(["Type","Executor"]).max()

               Unnamed: 0  Salary
Type Executor
A    Loopa             46      58
     Pupa              39     234
B    Loopa             43     249
     Pupa              41      77
C    Loopa             47     249
     Pupa              24      94
D    Loopa             49     181
     Pupa              31     194
E    Loopa             42     220
     Pupa              30     197
F    Loopa             35     244
     Pupa              48     195

In [116]:
st.loc[st["lunch"] == "free/reduced"].describe() - st.loc[st["lunch"] != "free/reduced"].describe()

       math score  reading score  writing score
count -290.000000    -290.000000    -290.000000
mean   -11.112982      -7.000742      -7.800721
std      1.506455       1.064737       1.094336
min    -19.000000      -9.000000     -12.000000
25%    -12.000000      -7.000000      -9.000000
50%     -9.000000      -7.000000      -8.000000
75%    -11.000000      -7.000000      -7.000000
max      0.000000       0.000000       0.000000

In [117]:
st[st['parental level of education'].isin(["bachelor's degree", "master's degree"])]

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
2,female,group B,master's degree,standard,none,90,95,93
14,female,group A,master's degree,standard,none,50,53,58
18,male,group C,master's degree,free/reduced,completed,46,42,46
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
27,female,group C,bachelor's degree,standard,none,67,69,75
29,female,group D,master's degree,standard,none,62,70,75
32,female,group E,master's degree,free/reduced,none,56,72,65
60,male,group E,bachelor's degree,free/reduced,completed,79,74,72
77,male,group A,bachelor's degree,standard,completed,80,78,81
79,female,group E,master's degree,standard,none,62,68,68
90,female,group C,bachelor's degree,standard,none,65,72,74
99,female,group D,bachelor's degree,standard,none,65,67,62
101,male,group D,bachelor's degree,standard,completed,68,74,74
106,female,group D,master's degree,standard,none,87,100,100
114,female,group E,bachelor's degree,standard,completed,99,100,100
116,female,group B,bachelor's degree,free/reduced,none,75,85,82
117,female,group D,bachelor's degree,standard,none,78,82,79
120,female,group C,bachelor's degree,standard,completed,79,92,89
128,male,group D,master's degree,standard,none,82,82,74
129,female,group A,bachelor's degree,standard,none,51,49,51
130,male,group D,master's degree,standard,none,89,84,82
134,male,group D,bachelor's degree,free/reduced,completed,74,79,75
135,male,group C,bachelor's degree,standard,none,58,55,48
148,female,group D,bachelor's degree,standard,completed,68,75,81
151,male,group A,bachelor's degree,standard,none,77,67,68
153,male,group D,bachelor's degree,standard,none,54,49,47
162,male,group B,master's degree,free/reduced,none,49,53,52
164,female,group E,master's degree,standard,none,81,92,91
...,...,...,...,...,...,...,...,...
832,male,group A,bachelor's degree,standard,none,64,60,58
845,male,group E,master's degree,standard,none,90,85,84
846,male,group C,master's degree,standard,completed,91,85,85
850,male,group C,master's degree,standard,none,71,67,67
855,female,group B,bachelor's degree,standard,none,97,97,96
857,female,group C,bachelor's degree,standard,none,65,79,81
861,female,group E,master's degree,free/reduced,none,81,86,87
862,male,group D,bachelor's degree,free/reduced,completed,39,42,38
874,female,group C,bachelor's degree,free/reduced,none,43,62,61
880,male,group C,bachelor's degree,standard,completed,63,64,66
881,female,group E,bachelor's degree,standard,completed,71,70,70
883,male,group D,bachelor's degree,free/reduced,none,55,46,44
892,female,group A,master's degree,free/reduced,none,50,67,73
900,male,group D,master's degree,standard,none,85,84,89
901,female,group C,master's degree,standard,none,73,78,74
903,female,group D,bachelor's degree,free/reduced,completed,93,100,100
908,female,group C,bachelor's degree,free/reduced,none,67,75,72
909,male,group E,bachelor's degree,standard,completed,70,64,70
910,male,group D,bachelor's degree,free/reduced,none,50,42,48
912,female,group C,bachelor's degree,standard,completed,52,61,66
913,female,group C,bachelor's degree,free/reduced,completed,47,62,66
916,male,group E,bachelor's degree,standard,completed,100,100,100
933,male,group C,bachelor's degree,free/reduced,completed,70,75,74
940,male,group C,master's degree,free/reduced,completed,72,66,72
941,female,group D,master's degree,standard,none,78,91,96
957,female,group D,master's degree,standard,none,92,100,100
969,female,group B,bachelor's degree,standard,none,75,84,80
970,female,group D,bachelor's degree,standard,none,89,100,100
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
995,female,group E,master's degree,standard,completed,88,99,95

In [74]:
plt.plot([1,2,3],[4,5,6])

In [41]:
titind = pd.DataFrame(tit["Embarked"][0:5])

In [43]:
titind.index=["a","b","c","d","e"]

In [51]:
pt.plot([1,2,3],[4,5,6])